<h3> In Servers Component</h3>
<p>servers works!</p>
<label >Server Name</label>
<!-- <input 
    type ="text" 
    class="form-control" 
    (input)="onUpdateServerName($event)"> -->
<input 
    type ="text" 
    class="form-control"  
    [(ngModel)] = "serverName"> 
<p></p>
<button 
    class ="btn btn-primary" 
    [disabled] ="!allowNewServer" 
    (click)="onCreateServer()">Add Server</button>

<p *ngIf="serverCreated ; else noServer">{{serverCreationStatus}} , Total no of server : {{this.noOfServer}}</p>

<ng-template #noServer>
    <p>No server Created</p>
</ng-template>
<!-- {{serverName}} -->

<!-- <app-success-alert></app-success-alert> -->
<app-server *ngFor="let server of servers"></app-server>
<!-- <app-server></app-server> -->

